@tailwind base;
@tailwind components;
@tailwind utilities;

*,
input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #494949;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
